#####NBO search parameters####
  0.8   #Occupancy cutoff for one-center NBOs
  0.925   #Occupancy cutoff for two-center NBOs
#####Visualization output control parameters####
     F   #Control over printing of .cube files for visualization.
     F   #density - Whether density (T) or wavefunctions (F) are visualized.
  0 -1   #vis_start vis_end - Start and end of NBOs to print .cube files for
0 0 0   #mesh - Number of points along each lattice vectors to use in .cube files
1 1 1   #box_int - Number of unit cell to use for .cube file. See READ_ME.txt for guidance
  0.00   #origin_fact - Shift of the origin for .cube file. See READ_ME.txt for guidance
